<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
  <extension id="com.dynatrace.diagnostics.knowledgesensor.dotnet.BizTalk.BizTalk_XML_Debug" point="com.dynatrace.diagnostics.knowledgesensor">
    <sensorpack>
      <sensor type="dotnet" key="com.dynatrace.diagnostics.knowledgesensor.dotnet.BizTalk.BizTalk_XML_Debug" description="BizTalk XML Debug" userdefined="true" group="BizTalk" order="0" defaultorder="0" hint="">
        <class pattern="Microsoft.BizTalk.Component.NodeProcessor" placed="true" match="equals" delegationsuppression="false" techtype="dotnet">
          <method pattern="ProcessNode" match="equals" placed="include" capturereturn="false" argsspecified="true" overrideable="true" synctime="true" onlyinstrumentifsynchappens="false" visibility="publicType" api="BizTalk" inheritance="auto" capture="active">
            <argument pattern="Microsoft.BizTalk.XPath.XPathReader" capture="false" match="equals" />
          </method>
        </class>
        <class pattern="System.Xml.XmlTextReaderImpl+NodeData" placed="true" match="equals" delegationsuppression="false" techtype="dotnet">
          <method pattern="get_StringValue" match="equals" placed="include" capturereturn="true" argsspecified="false" overrideable="true" synctime="true" onlyinstrumentifsynchappens="false" visibility="privateType" api="XML" inheritance="auto" capture="active" />
        </class>
        <class pattern="System.Xml.XmlTextReaderImpl" placed="true" match="equals" delegationsuppression="false" techtype="dotnet">
          <method pattern="get_LineNumber" match="equals" placed="exclude" capturereturn="true" argsspecified="false" overrideable="true" synctime="true" onlyinstrumentifsynchappens="false" visibility="privateType" api="XML" inheritance="auto" capture="active" />
          <method pattern="get_BaseURI" match="equals" placed="exclude" capturereturn="true" argsspecified="false" overrideable="true" synctime="true" onlyinstrumentifsynchappens="false" visibility="privateType" api="XML" inheritance="auto" capture="active" />
          <method pattern="get_Prefix" match="equals" placed="exclude" capturereturn="true" argsspecified="false" overrideable="true" synctime="true" onlyinstrumentifsynchappens="false" visibility="privateType" api="XML" inheritance="auto" capture="active" />
          <method pattern="get_NamespaceURI" match="equals" placed="exclude" capturereturn="true" argsspecified="false" overrideable="true" synctime="true" onlyinstrumentifsynchappens="false" visibility="privateType" api="XML" inheritance="auto" capture="active" />
          <method pattern="get_LocalName" match="equals" placed="include" capturereturn="true" argsspecified="false" overrideable="true" synctime="true" onlyinstrumentifsynchappens="false" visibility="privateType" api="XML" inheritance="auto" capture="active" />
        </class>
      </sensor>
    </sensorpack>
  </extension>
</plugin>

