<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
  <extension id="com.dynatrace.diagnostics.knowledgesensor.dotnet.BizTalk.BizTalk" point="com.dynatrace.diagnostics.knowledgesensor">
    <sensorpack>
      <sensor type="dotnet" key="com.dynatrace.diagnostics.knowledgesensor.dotnet.BizTalk.BizTalk" description="BizTalk" userdefined="true" group="BizTalk" order="10" defaultorder="0" hint="">
        <class pattern="Microsoft.BizTalk.Streaming.ReadEventArgs" placed="true" match="equals" delegationsuppression="false" techtype="dotnet">
          <method pattern="get_buffer" match="equals" placed="include" capturereturn="true" argsspecified="false" overrideable="true" synctime="true" onlyinstrumentifsynchappens="false" visibility="privateType" api="BizTalk" inheritance="auto" capture="active" />
        </class>
        <class pattern="Microsoft.BizTalk.Component.PropertyHelper" placed="true" match="equals" delegationsuppression="false" techtype="dotnet">
          <method pattern="ReadPropertyBag" match="equals" placed="include" capturereturn="true" argsspecified="true" overrideable="true" synctime="true" onlyinstrumentifsynchappens="false" visibility="privateType" api="BizTalk" inheritance="auto" capture="active">
            <argument pattern="Microsoft.BizTalk.Component.Interop.IPropertyBag" capture="false" match="equals" />
            <argument pattern="System.String" capture="true" match="equals" />
          </method>
        </class>
        <class pattern="Microsoft.BizTalk.Message.Interop.MessageContext_ManagedViewOfNative" placed="true" match="equals" delegationsuppression="false" techtype="dotnet">
          <method pattern="Read" match="equals" placed="include" capturereturn="true" argsspecified="true" overrideable="true" synctime="true" onlyinstrumentifsynchappens="false" visibility="privateType" api="BizTalk" inheritance="auto" capture="active">
            <argument pattern="System.String" capture="true" match="equals" />
            <argument pattern="System.String" capture="false" match="equals" />
          </method>
          <method pattern="Write" match="equals" placed="inactive" capturereturn="true" argsspecified="true" overrideable="true" synctime="true" onlyinstrumentifsynchappens="false" visibility="privateType" api="BizTalk" inheritance="auto" capture="active">
            <argument pattern="System.String" capture="true" match="equals" />
            <argument pattern="System.String" capture="false" match="equals" />
            <argument pattern="System.Object" capture="false" match="equals" />
          </method>
          <method pattern="ReadAt" match="equals" placed="include" capturereturn="true" argsspecified="true" overrideable="true" synctime="true" onlyinstrumentifsynchappens="false" visibility="privateType" api="BizTalk" inheritance="auto" capture="active">
            <argument pattern="int" capture="false" match="equals" />
            <argument pattern="System.String&amp;" capture="true" match="equals" />
            <argument pattern="System.String&amp;" capture="false" match="equals" />
          </method>
        </class>
        <class pattern="Microsoft.BizTalk.PipelineOM.PropertyBag" placed="true" match="equals" delegationsuppression="false" techtype="dotnet">
          <method pattern="Read" match="equals" placed="include" capturereturn="true" argsspecified="true" overrideable="true" synctime="true" onlyinstrumentifsynchappens="false" visibility="privateType" api="BizTalk" inheritance="auto" capture="active">
            <argument pattern="System.String" capture="true" match="equals" />
            <argument pattern="System.Object&amp;" capture="false" match="equals" />
            <argument pattern="int" capture="false" match="equals" />
          </method>
        </class>
        <class pattern="Microsoft.BizTalk.PipelineOM.PipelineManager" placed="true" match="equals" delegationsuppression="false" techtype="dotnet">
          <method pattern="GetPipeline" match="equals" placed="include" capturereturn="true" argsspecified="true" overrideable="true" synctime="true" onlyinstrumentifsynchappens="false" visibility="privateType" api="BizTalk" inheritance="auto" capture="active">
            <argument pattern="System.String" capture="true" match="equals" />
          </method>
        </class>
        <class pattern="Microsoft.BizTalk.Message.Interop.IBaseMessageContext" placed="true" match="equals" delegationsuppression="false" techtype="dotnet">
          <method pattern="ReadAt" match="equals" placed="include" capturereturn="true" argsspecified="true" overrideable="true" synctime="true" onlyinstrumentifsynchappens="false" visibility="privateType" api="BizTalk" inheritance="inheritedMethods" capture="active">
            <argument pattern="int" capture="false" match="equals" />
            <argument pattern="System.String&amp;" capture="true" match="equals" />
            <argument pattern="System.String&amp;" capture="false" match="equals" />
          </method>
        </class>
        <class pattern="Microsoft.BizTalk.Tracing.Trace+HackTraceProvider" placed="true" match="equals" delegationsuppression="false" techtype="dotnet">
          <method pattern="TraceMessage" match="equals" placed="include" capturereturn="false" argsspecified="true" overrideable="true" synctime="true" onlyinstrumentifsynchappens="false" visibility="privateType" api="BizTalk" inheritance="auto" capture="active">
            <argument pattern="uint" capture="false" match="equals" />
            <argument pattern="System.String" capture="true" match="equals" />
            <argument pattern="System.Object[]" capture="false" match="equals" />
          </method>
        </class>
        <class pattern="Microsoft.XLANGs.Mozart.NativeInterceptor" placed="true" match="equals" delegationsuppression="false" techtype="dotnet">
          <method pattern="get_Time" match="equals" placed="include" capturereturn="true" argsspecified="false" overrideable="true" synctime="true" onlyinstrumentifsynchappens="false" visibility="privateType" api="XLANGs" inheritance="auto" capture="active" />
        </class>
        <class pattern="Microsoft.XLANGs.Core.Context" placed="true" match="equals" delegationsuppression="true" techtype="dotnet">
          <method pattern="get___MyService" match="equals" placed="include" capturereturn="true" argsspecified="false" overrideable="true" synctime="true" onlyinstrumentifsynchappens="false" visibility="privateType" api="XLANGs" inheritance="auto" capture="active" />
        </class>
        <class pattern="Microsoft.XLANGs.Core.SegmentScheduler" placed="true" match="equals" delegationsuppression="true" techtype="dotnet">
          <method pattern="get_RootService" match="equals" placed="include" capturereturn="true" argsspecified="false" overrideable="true" synctime="true" onlyinstrumentifsynchappens="false" visibility="privateType" api="XLANGs" inheritance="auto" capture="active" />
        </class>
        <class pattern="Microsoft.XLANGs.BizTalk.Process.BTMessageWrapper" placed="true" match="equals" delegationsuppression="false" techtype="dotnet">
          <method pattern="get_ServiceID" match="equals" placed="include" capturereturn="true" argsspecified="false" overrideable="true" synctime="true" onlyinstrumentifsynchappens="false" visibility="privateType" api="XLANGs" inheritance="auto" capture="active" />
        </class>
        <class pattern="Microsoft.BizTalk.Adapters.POP3.POP3Client" placed="true" match="equals" delegationsuppression="false" techtype="dotnet">
          <method pattern="OnGetHostAddressesCompleted" match="equals" placed="include" capturereturn="false" argsspecified="true" overrideable="true" synctime="true" onlyinstrumentifsynchappens="false" visibility="privateType" api="BizTalk" inheritance="auto" capture="startPP">
            <argument pattern="System.IAsyncResult" capture="false" match="equals" />
          </method>
        </class>
        <class pattern="Microsoft.BizTalk.PipelineOM.PipelineManager" placed="true" match="equals" delegationsuppression="false" techtype="dotnet">
          <method pattern="Microsoft.BizTalk.PipelineOM.IBTMManagedPipelineManager.ExecutePipeline" match="equals" placed="include" capturereturn="false" argsspecified="false" overrideable="true" synctime="true" onlyinstrumentifsynchappens="false" visibility="privateType" api="BizTalk" inheritance="auto" capture="startPP">
            <argument pattern="System.String" capture="true" match="equals" />
            <argument pattern="int" capture="false" match="equals" />
            <argument pattern="System.Object" capture="false" match="equals" />
            <argument pattern="Microsoft.BizTalk.Message.Interop.IBaseMessage" capture="false" match="equals" />
            <argument pattern="System.IO.Stream" capture="false" match="equals" />
            <argument pattern="System.Object" capture="false" match="equals" />
            <argument pattern="Microsoft.BizTalk.Component.Interop.IPipelineContext" capture="false" match="equals" />
            <argument pattern="Microsoft.BizTalk.PipelineOM.IBTMPipelineContext&amp;" capture="false" match="equals" />
          </method>
        </class>
        <class pattern="Microsoft.BizTalk.PipelineOM.ReceivePipeline" placed="true" match="equals" delegationsuppression="false" techtype="dotnet">
          <method pattern="GetNext" match="equals" placed="include" capturereturn="false" argsspecified="false" overrideable="true" synctime="true" onlyinstrumentifsynchappens="false" visibility="privateType" api="BizTalk" inheritance="auto" capture="startPP" />
        </class>
        <class pattern="Microsoft.XLANGs.BizTalk.CrossProcess.GlobalThreadPool" placed="true" match="equals" delegationsuppression="false" techtype="dotnet">
          <method pattern="_workerWithContext" match="equals" placed="include" capturereturn="false" argsspecified="false" overrideable="true" synctime="true" onlyinstrumentifsynchappens="false" visibility="privateType" api="XLANGs" inheritance="auto" capture="startPP">
            <argument pattern="System.Object" capture="false" match="equals" />
          </method>
        </class>
        <class pattern="Microsoft.BizTalk." placed="true" match="starts" delegationsuppression="false" techtype="dotnet">
          <method pattern="ProcessMessage" match="equals" placed="include" capturereturn="false" argsspecified="false" overrideable="true" synctime="true" onlyinstrumentifsynchappens="false" visibility="privateType" api="BizTalk" inheritance="auto" capture="startPP" />
        </class>
        <class pattern="Microsoft.BizTalk.Adapters.POP3.POP3Client" placed="true" match="equals" delegationsuppression="false" techtype="dotnet">
          <method pattern="OnGetHostAddressesCompleted" match="equals" placed="include" capturereturn="false" argsspecified="true" overrideable="true" synctime="true" onlyinstrumentifsynchappens="false" visibility="privateType" api="BizTalk" inheritance="auto" capture="active">
            <argument pattern="System.IAsyncResult" capture="false" match="equals" />
          </method>
        </class>
        <class pattern="Microsoft.XLANGs.BizTalk.Process.AppDomainProxy" placed="true" match="equals" delegationsuppression="false" techtype="dotnet">
          <method pattern="_tryReceiveMessages" match="equals" placed="include" capturereturn="false" argsspecified="true" overrideable="true" synctime="true" onlyinstrumentifsynchappens="false" visibility="privateType" api="XLANGs" inheritance="auto" capture="active">
            <argument pattern="System.Object" capture="true" match="equals" />
          </method>
          <method pattern="_tryMaterializeAppDomain" match="equals" placed="include" capturereturn="false" argsspecified="false" overrideable="true" synctime="true" onlyinstrumentifsynchappens="false" visibility="privateType" api="XLANGs" inheritance="auto" capture="active" />
        </class>
        <class pattern="Microsoft.BizTalk." placed="true" match="starts" delegationsuppression="false" techtype="dotnet">
          <method pattern="Assemble" match="equals" placed="include" capturereturn="false" argsspecified="false" overrideable="true" synctime="true" onlyinstrumentifsynchappens="false" visibility="publicType" api="BizTalk" inheritance="auto" capture="active">
            <argument pattern="Microsoft.BizTalk.Component.Interop.IPipelineContext" capture="false" match="equals" />
          </method>
          <method pattern="Commit" match="equals" placed="include" capturereturn="false" argsspecified="false" overrideable="true" synctime="true" onlyinstrumentifsynchappens="false" visibility="publicType" api="BizTalk" inheritance="auto" capture="active" />
          <method pattern="CreateReader" match="equals" placed="include" capturereturn="false" argsspecified="true" overrideable="true" synctime="true" onlyinstrumentifsynchappens="false" visibility="publicType" api="BizTalk" inheritance="auto" capture="active">
            <argument pattern="Microsoft.BizTalk.Component.Interop.IPipelineContext" capture="false" match="equals" />
            <argument pattern="Microsoft.BizTalk.Message.Interop.IBaseMessageContext" capture="false" match="equals" />
            <argument pattern="Microsoft.BizTalk.Streaming.MarkableForwardOnlyEventingReadStream" capture="false" match="equals" />
            <argument pattern="System.Text.Encoding" capture="false" match="equals" />
            <argument pattern="boolean" capture="false" match="equals" />
            <argument pattern="boolean" capture="false" match="equals" />
            <argument pattern="boolean" capture="false" match="equals" />
            <argument pattern="Microsoft.BizTalk.Component.Utilities.SchemaList" capture="false" match="equals" />
            <argument pattern="Microsoft.BizTalk.Component.Utilities.SchemaList" capture="false" match="equals" />
            <argument pattern="Microsoft.BizTalk.Component.XmlDasmReader+SuspendCurrentMessageFunction" capture="false" match="equals" />
          </method>
          <method pattern="CreateManagedInstance" match="equals" placed="include" capturereturn="false" argsspecified="true" overrideable="true" synctime="true" onlyinstrumentifsynchappens="false" visibility="assemblyType" api="BizTalk" inheritance="auto" capture="active">
            <argument pattern="System.String" capture="false" match="equals" />
            <argument pattern="System.String" capture="false" match="equals" />
          </method>
          <method pattern="CopyMessageParts" match="equals" placed="include" capturereturn="false" argsspecified="false" overrideable="true" synctime="true" onlyinstrumentifsynchappens="false" visibility="publicType" api="BizTalk" inheritance="auto" capture="active">
            <argument pattern="Microsoft.BizTalk.Component.Interop.IPipelineContext" capture="false" match="equals" />
            <argument pattern="Microsoft.BizTalk.Message.Interop.IBaseMessage" capture="false" match="equals" />
            <argument pattern="Microsoft.BizTalk.Message.Interop.IBaseMessage" capture="false" match="equals" />
            <argument pattern="Microsoft.BizTalk.Message.Interop.IBaseMessagePart" capture="false" match="equals" />
          </method>
          <method pattern="ExecuteSendPipeline" match="equals" placed="include" capturereturn="false" argsspecified="false" overrideable="true" synctime="true" onlyinstrumentifsynchappens="false" visibility="assemblyType" api="BizTalk" inheritance="auto" capture="active">
            <argument pattern="Microsoft.BizTalk.PipelineOM.SendPipeline" capture="false" match="equals" />
            <argument pattern="Microsoft.BizTalk.PipelineOM.IBTMMessageSet" capture="false" match="equals" />
            <argument pattern="System.Object" capture="false" match="equals" />
            <argument pattern="System.IO.Stream" capture="false" match="equals" />
            <argument pattern="System.Object" capture="false" match="equals" />
            <argument pattern="Microsoft.BizTalk.Component.Interop.IPipelineContext" capture="false" match="equals" />
          </method>
          <method pattern="Execute" match="equals" placed="include" capturereturn="false" argsspecified="false" overrideable="true" synctime="true" onlyinstrumentifsynchappens="false" visibility="assemblyType" api="BizTalk" inheritance="auto" capture="active">
            <argument pattern="Microsoft.BizTalk.PipelineOM.IBTMMessageSet" capture="false" match="equals" />
          </method>
          <method pattern="GetAllContextProperties" match="equals" placed="include" capturereturn="false" argsspecified="false" overrideable="true" synctime="true" onlyinstrumentifsynchappens="false" visibility="publicType" api="BizTalk" inheritance="auto" capture="active" />
          <method pattern="GetDocumentSpecByType" match="equals" placed="include" capturereturn="false" argsspecified="true" overrideable="true" synctime="true" onlyinstrumentifsynchappens="false" visibility="publicType" api="BizTalk" inheritance="auto" capture="active">
            <argument pattern="System.String" capture="false" match="equals" />
          </method>
          <method pattern="GetNext" match="equals" placed="include" capturereturn="false" argsspecified="false" overrideable="true" synctime="true" onlyinstrumentifsynchappens="false" visibility="publicType" api="BizTalk" inheritance="auto" capture="active">
            <argument pattern="Microsoft.BizTalk.Component.Interop.IPipelineContext" capture="false" match="equals" />
          </method>
          <method pattern="set_PipelineAssemblyName" match="equals" placed="include" capturereturn="false" argsspecified="true" overrideable="true" synctime="true" onlyinstrumentifsynchappens="false" visibility="publicType" api="BizTalk" inheritance="auto" capture="active">
            <argument pattern="System.String" capture="false" match="equals" />
          </method>
          <method pattern="Read" match="equals" placed="exclude" capturereturn="true" argsspecified="true" overrideable="true" synctime="true" onlyinstrumentifsynchappens="false" visibility="privateType" api="BizTalk" inheritance="auto" capture="active">
            <argument pattern="System.Byte[]" capture="true" match="equals" />
            <argument pattern="int" capture="false" match="equals" />
            <argument pattern="int" capture="false" match="equals" />
          </method>
          <method pattern="" match="starts" placed="exclude" capturereturn="false" argsspecified="false" overrideable="true" synctime="true" onlyinstrumentifsynchappens="false" visibility="privateType" api="BizTalk" inheritance="auto" capture="active" />
        </class>
        <class pattern="Microsoft.XLANGs." placed="true" match="starts" delegationsuppression="false" techtype="dotnet">
          <method pattern="InterlockedAdd" match="equals" placed="include" capturereturn="false" argsspecified="true" overrideable="true" synctime="true" onlyinstrumentifsynchappens="false" visibility="publicType" api="XLANGs" inheritance="auto" capture="active">
            <argument pattern="System.IntPtr" capture="false" match="equals" />
            <argument pattern="int" capture="false" match="equals" />
          </method>
          <method pattern="" match="starts" placed="exclude" capturereturn="false" argsspecified="false" overrideable="true" synctime="true" onlyinstrumentifsynchappens="false" visibility="privateType" api="XLANGs" inheritance="auto" capture="active" />
        </class>
        <class pattern="Microsoft.XLANGs.BizTalk.CrossProcess.ThreadPool" placed="true" match="equals" delegationsuppression="false" techtype="dotnet">
          <method pattern="SignalWorkCompleted" match="equals" placed="include" capturereturn="false" argsspecified="true" overrideable="true" synctime="true" onlyinstrumentifsynchappens="false" visibility="privateType" api="XLANGs" inheritance="auto" capture="active">
            <argument pattern="uint" capture="false" match="equals" />
            <argument pattern="int" capture="false" match="equals" />
          </method>
        </class>
        <class pattern="Microsoft.XLANGs.BizTalk.ProcessInterface.IAppDomainStub" placed="true" match="equals" delegationsuppression="false" techtype="dotnet">
          <method pattern="ReceiveMessages" match="equals" placed="include" capturereturn="false" argsspecified="true" overrideable="true" synctime="true" onlyinstrumentifsynchappens="false" visibility="privateType" api="XLANGs" inheritance="auto" capture="active">
            <argument pattern="System.Object" capture="false" match="equals" />
          </method>
        </class>
        <class pattern="Microsoft.BizTalk." placed="true" match="equals" delegationsuppression="false" techtype="dotnet">
          <method pattern="ProcessXmlNodes" match="equals" placed="include" capturereturn="false" argsspecified="true" overrideable="true" synctime="true" onlyinstrumentifsynchappens="false" visibility="protectedType" api="BizTalk" inheritance="auto" capture="active">
            <argument pattern="int" capture="false" match="equals" />
          </method>
        </class>
        <class pattern="Microsoft.BizTalk.Component.XmlDasmReader" placed="true" match="equals" delegationsuppression="false" techtype="dotnet">
          <method pattern="get_DocType" match="equals" placed="include" capturereturn="true" argsspecified="false" overrideable="true" synctime="true" onlyinstrumentifsynchappens="false" visibility="privateType" api="BizTalk" inheritance="auto" capture="active" />
        </class>
        <class pattern="Microsoft.XLANGs.RuntimeTypes.TransformMetaData" placed="true" match="equals" delegationsuppression="false" techtype="dotnet">
          <method pattern="For" match="equals" placed="include" capturereturn="false" argsspecified="true" overrideable="true" synctime="true" onlyinstrumentifsynchappens="false" visibility="publicType" api="XLANGs" inheritance="auto" capture="active">
            <argument pattern="System.Type" capture="false" match="equals" />
          </method>
        </class>
        <class pattern="Microsoft.XLANGs.Core.Service" placed="true" match="equals" delegationsuppression="false" techtype="dotnet">
          <method pattern="ApplyTransform" match="equals" placed="include" capturereturn="false" argsspecified="false" overrideable="true" synctime="true" onlyinstrumentifsynchappens="false" visibility="publicType" api="XLANGs" inheritance="auto" capture="active">
            <argument pattern="System.Type" capture="false" match="equals" />
            <argument pattern="System.Object[]" capture="false" match="equals" />
            <argument pattern="System.Object[]" capture="false" match="equals" />
          </method>
        </class>
        <class pattern="Microsoft.BizTalk.Component.Interop.DocumentSpec" placed="true" match="equals" delegationsuppression="false" techtype="dotnet">
          <method pattern="GetSchemaCollection" match="equals" placed="include" capturereturn="false" argsspecified="false" overrideable="true" synctime="true" onlyinstrumentifsynchappens="false" visibility="publicType" api="BizTalk" inheritance="auto" capture="active" />
        </class>
        <class pattern="Microsoft.BizTalk.ScalableTransformation.BTSXslTransform" placed="true" match="equals" delegationsuppression="false" techtype="dotnet">
          <method pattern="Transform" match="equals" placed="include" capturereturn="false" argsspecified="false" overrideable="true" synctime="true" onlyinstrumentifsynchappens="false" visibility="publicType" api="BizTalk" inheritance="auto" capture="active">
            <argument pattern="System.IO.Stream" capture="false" match="equals" />
            <argument pattern="System.Xml.Xsl.XsltArgumentList" capture="false" match="equals" />
            <argument pattern="System.IO.Stream" capture="false" match="equals" />
            <argument pattern="System.Xml.XmlResolver" capture="false" match="equals" />
          </method>
        </class>
        <class pattern="Microsoft.BizTalk.PipelineOM.PropertyBag" placed="true" match="equals" delegationsuppression="false" techtype="dotnet">
          <method pattern="DeserializeFromXml" match="equals" placed="include" capturereturn="false" argsspecified="true" overrideable="true" synctime="true" onlyinstrumentifsynchappens="false" visibility="publicType" api="BizTalk" inheritance="auto" capture="active">
            <argument pattern="System.String" capture="false" match="equals" />
          </method>
        </class>
        <class pattern="Microsoft.BizTalk.Messaging.Interop.MessageDataTracker" placed="true" match="equals" delegationsuppression="false" techtype="dotnet">
          <method pattern="OnRead" match="equals" placed="include" capturereturn="false" argsspecified="true" overrideable="true" synctime="true" onlyinstrumentifsynchappens="false" visibility="privateType" api="BizTalk" inheritance="auto" capture="active">
            <argument pattern="System.Object" capture="false" match="equals" />
            <argument pattern="System.EventArgs" capture="false" match="equals" />
          </method>
        </class>
      </sensor>
    </sensorpack>
  </extension>
</plugin>

